<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LoginApp</title>
	<link rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="/css/cosmo.bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					{{#if user}}
						<li role="presentation"><a href="/">Dashboard</a></li>
						<li role="presentation"><a href="/users/logout">Log out</a></li>
					{{else}}
						<li role="presentation"><a href="/users/register">Sign up</a></li>
						<li role="presentation"><a href="/users/login">Log in</a></li>
					{{/if}}
				</ul>
			</nav>
			<h3 class="text-muted">LoginApp</h3>
		</div>

		<div class="row">
			<div class="col-lg-12">
				{{#if success_msg}}
					<div class="alert alert-success">{{success_msg}}</div>
				{{/if}}
				{{#if error_msg}}
					<div class="alert alert-danger">{{error_msg}}</div>
				{{/if}}
				{{#if error}}
					<div class="alert alert-danger">{{error}}</div>
				{{/if}}

				{{{body}}}
			</div>
		</div>

		<footer class="footer">
			<p>&copy; 2016 LoginApp, Inc.</p>
		</footer>

	</div> <!-- /container -->
</body>
</html>