<h2 class="page-header">Accout Login</h2>
<form method="POST" action="/users/login">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" placeholder="John Watson" name="username" class="form-control">
	</div>
	<div class="form-group">
		<label for="password">Pasword</label>
		<input type="password" placeholder="Fuck Sherlock" name="password" class="form-control">
	</div>
	
	<button type="submit" class="btn btn-default">Login</button>
	<a href="login/facebook" class="btn btn-primary">Login with facebook</a>
</form>