<h2 class="page-header">Register</h2>
{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}
<form method="post" action="/users/register">
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" name="name" placeholder="John Watson">
	</div>
	<div class="form-group">
		<label>Usrename</label>
		<input type="text" class="form-control" name="username" placeholder="johnyboy">
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="email" class="form-control" name="email" placeholder="johnyboy@baker.st">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" name="password" placeholder="Fuck Sherlock">
	</div>
	<div class="form-group">
		<label>Confirm password</label>
		<input type="password" class="form-control" name="passwordConfirm" placeholder="Yeah, fuck Sherlock still!">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>